
    <style>
        *{
            padding: 0;
            margin: 0;
        }
        a{
            text-decoration: none;
            color: black;
        }
        section.sec{
            width: 100%;
            height: 2355px;
            background-color: #f5f5f5;
            padding-top: 20px;
        }
        section.sec .section{
            width: 1200px;
            margin: 0 auto;
        }
        section.sec .section .left{
            width: 210px;
            height: 1200px;
            float: left;
            background-color: white;
        }
        section.sec .section .left h4{
            margin-top: 30px;
            display: block;
            padding-left: 8px;
            line-height: 35px;
            width: 202px;
            height: 35px;
            background-color: #c81623;
            color: white;
        }
        section.sec .section .left ul{
            list-style: none;
            border: 1px solid #e5e5e5;
        }
        section.sec .section .left ul li{
            padding-left: 14px;
            line-height: 31px;
            width: 195px;
            height: 29px;
            border-bottom: 1px solid #e5e5e5;
        }
        section.sec .section .right{
            float: left;
            margin-left: 10px;
            width: 895px;
            height: 2355px;
            background-color: white;
            padding: 30px;
        }
        section.sec .section .right h1{
            color: red;
        }
    </style>

    <section class="sec">
    <div class="section">
        <div class="top"><a href="/">首页</a>帮助中心</div>
        <div class="left">
            <h4> 购物指南</h4>
            <ul>
                <li><a href="">购物流程</a></li>
                <li><a href="">会员介绍</a></li>
                <li><a href="">联系客服</a></li>
            </ul>
            <h4>购物指南</h4>
            <ul>
                <li><a href="">购物流程</a></li>
                <li><a href="">会员介绍</a></li>
                <li><a href="">联系客服</a></li>
            </ul>
            <h4> 配送方式</h4>
            <ul>
                <li><a href="">送货上门</a></li>
                <li><a href="">门店自取</a></li>
                <li><a href="">配送范围</a></li>
            </ul>
            <h4> 支付方式</h4>
            <ul>
                <li><a href="">在线支付</a></li>
                <li><a href="">银行汇款</a></li>
                <li><a href="">货到付款</a></li>
            </ul>
            <h4>服务支持</h4>
            <ul>
                <li><a href="">售后服务</a></li>
                <li><a href="">退款说明</a></li>
                <li><a href="">取消订单</a></li>
            </ul>
            <h4>关注我们</h4>
            <ul>
                <li><a href="">微信公众号</a></li>
                <li><a href="">七彩蛋糕APP</a></li>
                <li><a href="">情人节特别提示</a></li>
            </ul>
            <h4>联系我们</h4>
            <ul>
                <li><a href="">联系我们</a></li>
            </ul>
        </div>
        <div class="right">
            <p style="font-size: 42px;">购物流程</p><br>
            <h1>选购商品</h1><br>
            <p> 1、挑选商品，可以通过搜索、所有商品分类导航等方式查找。</p><br>
            <p>在搜索框中输入您想要的商品，点击搜索，即可找到商品。</p><br>
            <img src="http://tphoutai.7caihua.com/Uploads/userfiles/image/20160530145229_49328.jpg" alt="">
            <p>或者在左侧和上方导航栏处展开商品分类，选择心仪产品，直接点击即可。</p>
            <img src="http://tphoutai.7caihua.com/Uploads/userfiles/image/20160530145245_68348.jpg" alt="">
            <p>2、挑选好商品之后，挑选好点击“立即购买”按钮。</p>
            <img src="http://tphoutai.7caihua.com/Uploads/userfiles/image/20160530145351_64505.jpg" alt="">
            <p>3、进入填写核对订单信息页面，根据提示将订购人信息、收货人信息等内容填写清楚。</p><br>
            <img src="http://tphoutai.7caihua.com/Uploads/userfiles/image/20160530145405_44346.jpg" alt="">
            <p>4、信息确认无误，点击结算。</p><br>
            <img src="http://tphoutai.7caihua.com/Uploads/userfiles/image/20160530145415_80290.jpg" alt="">
            <h1>支付方式</h1><br>
            <p>5、订单提交成功，会给予您成功提交的提示，接下来您只需付款，即结束整个购物之旅。</p><br>
            <img src="http://tphoutai.7caihua.com/Uploads/userfiles/image/20160530145430_49482.jpg" alt="">
            <p>6、付款方式有在线支付和银行汇款两种方式；在线支付包括储蓄卡网银支付、信用卡支付、第三方平台支付，由支付宝提供接口，确保您的资金安全，如果您是国外客户，可以选择国际/国外用户支付方式。
            </p>
            <img src="http://tphoutai.7caihua.com/Uploads/userfiles/image/20160530145444_43552.jpg" alt="">
            <p>如果不能网上支付，您可以通过银行汇款的方式支付，并在支付成功后及时通知我们的客服人员帮您处理订单到款状态，以便及时安排订单，您可以选择招商银行、工商银行、建设银行、农业银行、交通银行、中国银行、邮政帐号等银行进行汇款。</p>

        </div>
    </div>
</section>
