<!--大轮播-->
<section class="lunbo">
    <!--轮播-->
    <div class="carousel">
        <ul>
            <li class="first">
                <a href="">
                    <img src="https://www.dangao.com/imgbanner/banner7.jpg" alt="">
                </a>
            </li>
            <li>
                <a href="">
                    <img src="https://www.dangao.com/imgbanner/banner5.jpg" alt="">
                </a>
            </li>
            <li>
                <a href="">
                    <img src="https://www.dangao.com/imgbanner/banner4.jpg" alt="">
                </a>
            </li>
            <li>
                <a href="">
                    <img src="https://www.dangao.com/imgbanner/banner1.jpg" alt="">
                </a>
            </li>
            <li>
                <a href="">
                    <img src="https://www.dangao.com/imgbanner/banner.jpg" alt="">
                </a>
            </li>
        </ul>
    </div>
    <!--小圆点-->
    <div class="circles">
        <ol>
            <li class="cur"><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
        </ol>
    </div>

</section>
<!--小轮播-->
<section class="smallLB">
    <div class="sec_left">
        <div class="stage">
            <div class="bar">
                <b>爆款 <br>
                    本店头牌</b>
                <b>新品 <br>
                    炫酷狂拽</b>
                <b>特惠 <br>
                    老板在哭</b>
                <b>秒杀 <br>
                    抓紧时间</b>
                <b>组合 <br>
                    必须拿下</b>
            </div>
            <ul>
                <li><a href="#"><img src="https://www.dangao.com/Tpl/2016skin/Public/imgbanner/2banner1.jpg" alt=""></a></li>
                <li><a href="#"><img src="https://www.dangao.com/Tpl/2016skin/Public/imgbanner/2banner2.jpg" alt=""></a></li>
                <li><a href="#"><img src="https://www.dangao.com/Tpl/2016skin/Public/imgbanner/2banner3.jpg" alt=""></a></li>
                <li><a href="#"><img src="https://www.dangao.com/Tpl/2016skin/Public/imgbanner/2banner4.jpg" alt=""></a></li>
                <li><a href="#"><img src="https://www.dangao.com/Tpl/2016skin/Public/imgbanner/2banner5.jpg" alt=""></a></li>
            </ul>
        </div>
    </div>
    <div class="sec_center">
        <a href=""><img src="https://www.dangao.com/Tpl/2016skin/Public/imgbanner/300-210-1.jpg" alt=""></a>
        <a href=""><img src="https://www.dangao.com/Tpl/2016skin/Public/imgbanner/300-210-2.jpg" alt=""></a>
    </div>
    <div class="sec_right">
        <p>客服中心 CALL CENTER</p>
        <p class="lianxi num1">400-658-1177</p>
        <p class="lianxi num2"><a href="https://www.dangao.com/Qqstats/index">139 010 678</a></p>
        <p class="lianxi num3"><a href="javascript:;">在线客服点我咨询</a></p>
        <img src="https://www.dangao.com/Tpl/2016skin/Public/images/android_ewm.png" alt="">
        <p>APP订购享优惠</p>
    </div>
</section>
<!--热卖推荐-->
<section class="rmtj">
    <div class="title">
        <p>热卖推荐</p>
        <p>
            <span><a href="">热销排行</a></span>
            <span><a href="">新品上市</a></span>
            <span><a href="">更多</a></span>
        </p>
    </div>
    <div class="shangpin">
        <ul></ul>
    </div>
</section>
<!--生日蛋糕-->
<section class="rmtj">
    <div class="title">
        <p>生日蛋糕</p>
        <p>
            <span><a href="">送恋人</a></span>
            <span><a href="">送长辈</a></span>
            <!--<span><a href="">送儿童</a></span>-->
            <span><a href="">更多</a></span>
        </p>
    </div>
    <div class="shangpin">
        <ul></ul>
    </div>
</section>
<!--祝寿蛋糕-->
<section class="rmtj">
    <div class="title">
        <p>祝寿蛋糕</p>
        <p>
            <span><a href="">水果蛋糕</a></span>
            <span><a href="">寿桃蛋糕</a></span>
            <!--<span><a href="">送儿童</a></span>-->
            <span><a href="">更多</a></span>
        </p>
    </div>
    <div class="shangpin">
        <ul></ul>
    </div>
</section>
<!--攻略、评价、礼仪-->
<section class="another">
    <div class="gonglue">
        <div class="huayu">
            <h4>花语攻略</h4>
            <p>+</p>
        </div>
        <ul>
            <li><a href="http://huayu.huabaike.com/781.html">国外送花礼仪之禁忌</a></li>
            <li><a href="http://huayu.huabaike.com/732.html">四季婚礼的鲜花选择</a></li>
            <li><a href="http://huayu.huabaike.com/715.html">送花应该知道的礼仪</a></li>
            <li><a href="http://huayu.huabaike.com/706.html">郁金香送给什么人</a></li>
            <li><a href="http://huayu.huabaike.com/692.html">月季适合送给什么人</a></li>
            <li><a href="http://huayu.huabaike.com/649.html">山茶花送给什么人</a></li>
            <li><a href="http://huayu.huabaike.com/625.html">百合花送给什么人</a></li>
        </ul>
    </div>
    <div class="pingjia">
        <div class="huayu">
            <h4>最新评价</h4>
            <p>+</p>
        </div>
        <ul>
            <li>
                <div class="leftImg">
                    <img src="https://www.dangao.com/proimgs/C-711701601.jpg" alt="">
                    <p><a href="">生日快乐</a></p>
                </div>
                <div class="centerImg">
                    <img src="./images/xing.png" alt="">
                    <p><a href="">内容：很有新意</a></p>
                </div>
                <div class="rightTime">
                    <p class="time">2017-01-23 18:13:28</p>
                </div>
            </li>
            <li>
                <div class="leftImg">
                    <img src="https://www.dangao.com/proimgs/C-721006601.jpg" alt="">
                    <p><a href="">女神小七</a></p>
                </div>
                <div class="centerImg">
                    <img src="./images/xing.png" alt="">
                    <p><a href="">内容：家里人很喜欢</a></p>
                </div>
                <div class="rightTime">
                    <p class="time">2017-01-23 18:12:45</p>
                </div>
            </li>
            <li>
                <div class="leftImg">
                    <img src="https://www.dangao.com/proimgs/C-711687601.jpg" alt="">
                    <p><a href="">想念</a></p>
                </div>
                <div class="centerImg">
                    <img src="./images/xing.png" alt="">
                    <p><a href="">内容：好吃</a></p>
                </div>
                <div class="rightTime">
                    <p class="time">2017-01-23 18:12:22</p>
                </div>
            </li>
        </ul>
    </div>
    <div class="liyi">
        <div class="huayu">
            <h4>蛋糕礼仪</h4>
            <p>+</p>
        </div>
        <ul>
            <li><a href="http://baike.dangao.com/1534.html">慰问祝福语</a></li>
            <li><a href="http://baike.dangao.com/1530.html">护士节祝福语</a></li>
            <li><a href="http://baike.dangao.com/1528.html">母亲节祝福语</a></li>
            <li><a href="http://baike.dangao.com/1524.html">三八女人节祝福语</a></li>
            <li><a href="http://baike.dangao.com/1522.html">生子祝福语</a></li>
            <li><a href="http://baike.dangao.com/1515.html">端午节祝福语</a></li>
            <li><a href="http://baike.dangao.com/1513.html">道歉常用语</a></li>
        </ul>
    </div>
</section>
<script type="text/template" id="template">
    <li>
        <a href=""><img src="<%=img%>" alt=""></a>
        <div class="text">
            <h2><%=name%></h2>
            <p><%=zhucai%></p>
            <p>
                <span>￥<%=price%></span>
                <span>立即抢购</span>
            </p>
        </div>
    </li>
</script>
<script src="/js/jquery.min.js"></script>
<script src="/js/underscore-min.js"></script>
<script>
    $('.nr').mouseover(function(){
        $('.list').show();
    });
    $('.nr').mouseleave(function(){
        $('.list').hide();
    });
    $('.wz span').mouseover(function(){
        $(this).addClass('cur').siblings().removeClass('cur');
    });
    //购物车
    $('.gwc').mouseover(function(){
        $(this).css({
            'box-shadow':'0 0 5px rgba(0,0,0,0.2)',
            'border-bottom':'none'
        });
        $('.tishi').show();
    });
    $('.gwc').mouseleave(function(){
        $(this).css({
            'box-shadow':'none',
            'border-bottom':'1px solid #ddd'
        });
        $('.tishi').hide();
    });

    //轮播
    var idx = 0;
    var timer = setInterval(autoPlay,2000);
    function autoPlay() {
        $('.carousel ul li').eq(idx).animate({'opacity': 0}, 1000);
        idx++;
        if (idx > 4) {
            idx = 0;
        }
        $('.carousel ul li').eq(idx).animate({'opacity': 1}, 1000);
        changeCircles();
    }
    //鼠标进入停止
    $('.carousel').mouseenter(function () {
        clearInterval(timer);
    });
    //鼠标离开继续
    $('.carousel').mouseleave(function () {
        timer = setInterval(autoPlay, 2000);
    });
    //焦点变换
    function changeCircles() {
        $('.circles ol li').eq(idx).addClass('cur').siblings().removeClass('cur');
    }

    //焦点点击
    $('.circles ol li').click(function () {
        $('.carousel ul li').eq(idx).animate({'opacity': 0}, 1000);
        idx = $(this).index();
        $('.carousel ul li').eq(idx).animate({'opacity': 1}, 1000);
        changeCircles();
    });

    //    商品列表
    $('.productList ul li').mouseover(function () {
        $('table').empty();
        $('.rightImg').empty();
        $('.yongtu').show();
        var self = $(this).index();
        $.get('/users', function (data) {
            var u = data[self].url;
            $('<img src="' + u + '">').appendTo($('.rightImg'));
            for (var j = 0; j < data[self].content.length; j++) {
                var s = data[self].content[j];
                $('<tr style="height:40px;font-size:14px;line-height:35px;"></tr>').append('<td style="width:80px;padding-left:20px;"><a href="#" style="color:#666;">' + s.type + '&nbsp;&nbsp;&nbsp;>' + '</a></td>')
                        .append('<td style="border-bottom:1px solid #e0e0e0;"><a href="#" style="color:#666;">' + s.neirong + '</a></td>')
                        .appendTo($('table'));
            }
            $('table tr td a').mouseover(function () {
                $(this).css('color', '#c00');
            });
            $('table tr td a').mouseleave(function () {
                $(this).css('color', '#666');
            });
        });
    });
    $('.yongtu').mouseleave(function () {
        $(this).hide();
    });

    //小轮播
    $('.stage ul li:first').clone().appendTo('.stage ul');
    var index1 = 0;
    var timer1 = setInterval(autoplay1, 2000);
    function autoplay1() {
        index1++;
        $('.stage ul').animate({'left': -630 * index1}, 1000, function () {
            if (index1 > 4) {
                index1 = 0;
                $(this).css('left', 0);
            }
        });
    }
    // 鼠标进入停止
    $('.stage').mouseenter(function(){
        clearInterval(timer1);
    });
    // 鼠标离开继续
    $('.stage').mouseleave(function(){
        timer1 = setInterval(autoPlay,1000);
    })

    var templateStr = $('#template').html();
    var complieFunction = _.template(templateStr);
    $.get('/a',function(data){
        console.log(data);
        _.each(data.data,function(dictionary){
           var DOMStr = complieFunction(dictionary);
           $('.shangpin ul').append($(DOMStr));
        });
    });
</script>