<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<header>页头</header>
{{{body}}}
<footer>页脚</footer>
</body>
</html>
