*{
    padding:0;
    margin:0;
}
body{
    padding-top:20px;
}
/*公共类*/
a{
    text-decoration:none;
}
/*header*/
header{
    width:100%;
    height:30px;
    background-color: #f1f1f1;
    position:fixed;
    top:0;
    z-index:999;
}
header .inner_c{
    width:1200px;
    height:30px;
    margin:0 auto;
}
header .inner_c .header_left{
    width:600px;
    float:left;
}
header .inner_c .header_left p{
    display:inline;
    line-height:30px;
    color:#735749;
    font-size:13px;
}
header .inner_c .header_left p:last-child{
    padding-left:5px;
}
header .inner_c .header_left a{
    color:#c00;
}
header .inner_c .header_right{
    width:600px;
    float:left;
}
header .inner_c .header_right ul{
    margin-left:140px;
}
header .inner_c .header_right ul li{
    float:left;
    line-height:30px;
}
header .inner_c .header_right ul li.neirong{
    width:62px;
}
header .inner_c .header_right ul li.nr{
    padding-right:10px;
}
header .inner_c .header_right ul li.line{
    margin-right:10px;
    color:#735749;
}
header .inner_c .header_right ul li a{
    font-size:12px;
    color:#735749;
    position:relative;
}
header .inner_c .header_right ul li:nth-child(1) a::after{
    content:'';
    position:absolute;
    right:-10px;
    top:5px;
    width:7px;
    height:6px;
    background: url(/images/sanjiao.jpg);
}
header .inner_c .header_right ul li a.hov:hover{
    color:#990000;
}
header .inner_c .header_right ul li a.red{
    color:#c00;
}
header .inner_c .header_right ul li.nr .list{
    font-size:12px;
    margin-top:3px;
    position: relative;
    left:-150px;
    width:83px;
    display:none;
}
header .inner_c .header_right ul li .list li{
    line-height:20px;
    width:83px;
    height:20px;
    text-align:center;
    position:relative;
    z-index:2;
    background-color: #fff;
}
header .inner_c .header_right ul li .list li:hover{
    background-color:#c53f4c;
    color:#fff;
}
header .inner_c .header_right ul li span{
    position:absolute;
    left:35px;
    top:-5px;
    background-color: #fff;
    width:15px;
    height:15px;
    transform:rotate(45deg);
    z-index:1;
}
/*img*/
.img{
    height:60px;
    width:100%;
    background:url(http://www.dangao.com/imgbanner/top_ad1200.jpg) no-repeat center top;
}
/*section*/
section.sousuo{
    width:1200px;
    margin:0 auto;
    height:70px;
    padding-top:30px;
}
section.sousuo .sec_left{
    width:240px;
    height:70px;
    float:left;
}
section.sousuo .sec_left img{
    width:200px;
}
section.sousuo .sec_center{
    width:780px;
    height:70px;
    float:left;
}
section.sousuo .sec_center form{
    width:780px;
    height:70px;
}
section.sousuo .sec_center form input{
    margin-left:150px;
    width:459px;
    height:34px;
    border:2px solid #C81623;
    border-top:1px solid #C81623;
}
section.sousuo .sec_center form .ss{
    width:76px;
    height:38px;
    background-color: #c81623;
    color:#fff;
    text-align:center;
    line-height:38px;
    display:inline-block;
    margin-top:2px;
}
section.sousuo .sec_center form p.wz{
    margin-left:150px;
    font-size:12px;
    margin-top:5px;
}
section.sousuo .sec_center form p.wz span{
    margin-left:5px;
}
section.sousuo .sec_center form p.wz span a{
    color:#666;
}
section.sousuo .sec_center form p.wz span.cur a{
    color:#c00;
}
section.sousuo .sec_center form p.wz span.wan a{
    color:#c00;
}
section.sousuo .sec_right{
    width:180px;
    height:70px;
    float:left;
    position: relative;
}
section.sousuo .sec_right .gwc{
    width:142px;
    height:38px;
    border:1px solid #ccc;
    margin-left:38px;
    text-align:center;
    line-height:38px;
    position:relative;
    z-index:-999;
}
section.sousuo .sec_right .gwc a{
    font-size:12px;
    color:#666;
}
section.sousuo .sec_right .gwc i{
    display:inline-block;
    background: url(/images/cartico.png);
    width:18px;
    height:16px;
    margin-left:-15px;
    margin-right:5px;
    margin-right:5px;
}
section.sousuo .sec_right .tishi{
    color:#999;
    font-size:14px;
    line-height:70px;
    width:310px;
    height:70px;
    position:absolute;
    right:0;
    text-align:right;
    background-color: #fff;
    box-shadow:0 0 5px rgba(0,0,0,0.2);
    border:1px solid #ddd;
    display:none;
    z-index:999;
}
/*nav*/
nav{
    height:45px;
    width:100%;
    border-bottom:1px solid #c00;
}
nav .inner_c{
    height:45px;
    width:1200px;
    margin:0 auto;
}
nav .inner_c .nav_left{
    width:210px;
    height:45px;
    background-color: #C81623;
    color:#fff;
    line-height:45px;
    float:left;
}
nav .inner_c .nav_left .fenlei{
    margin-left:10px;
}
nav .inner_c .nav_left .productList{
    position:relative;
    z-index:990;
    background-color: #E4393C;
    height:400px;
}
nav .inner_c .nav_left .productList li{
    height:36px;
}
nav .inner_c .nav_left .productList li a{
    color:#fff;
    font-size:13px;
    margin-left:10px;
    display:inline-block;
    line-height:36px;
}
nav .inner_c .nav_left .productList li span{
    position: absolute;
    right:8px;
}
nav .inner_c .nav_left .productList li:hover{
    background-color: #f7f7f7;
}
nav .inner_c .nav_left .productList li:hover a{
    color:#c00;
}
nav .inner_c .nav_right{
    width:990px;
    height:45px;
    float:left;
}
nav .inner_c .nav_right li{
    float:left;
    margin:0 15px;
}
nav .inner_c .nav_right li a{
    line-height:45px;
    color:#333;
    width:100%;
    display:inline-block;
}
nav .inner_c .nav_right li a:hover{
    color:#c00;
}
nav .inner_c .nav_right li:last-child{
    color:#c81623;
    font-size:24px;
    padding-left:36px;
    position: relative;
}
nav .inner_c .nav_right li:last-child::before{
    content:'';
    position: absolute;
    left:0;
    width:39px;
    height:35px;
    background: url(../images/index_tel_ico.jpg)no-repeat;
}
nav .inner_c .nav_right .yongtu{
    background-color: #f7f7f7;
    position: relative;
    z-index:999;
    height:400px;
    margin-top:47px;
    display:none;
}
nav .inner_c .nav_right .yongtu table.list{
    width:700px;
    position:absolute;
    top:30px;
    left:20px;
}
nav .inner_c .nav_right .yongtu .rightImg{
    width:100px;
    position:absolute;
    right:110px;
    top:20px;
}
/*轮播*/
section.lunbo{
    width:100%;
    height:400px;
    position: relative;
}
section.lunbo .carousel{
    width:100%;
    height:400px;
    margin:0 auto;
    position: relative;
}
section.lunbo .carousel ul li {
    position: absolute;
    top: 0;
    left:50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    opacity:0;
    filter:alpha(opacity=0);
}
section.lunbo .carousel ul li.first{
    opacity:1;
    filter:alpha(opacity=1);
}
/*小圆点*/
section.lunbo .circles{
    width:125px;
    height:15px;
    position:absolute;;
    bottom:15px;
    left:50%;
}
section.lunbo .circles ol li{
    float:left;
}
section.lunbo .circles ol li a{
    width:15px;
    height:15px;
    display:inline-block;
    background-color: #fff;
    border-radius:50%;
    margin:5px;
}
section.lunbo .circles ol li.cur a{
    background-color: #fb7d2e;
}
/*小轮播*/
section.smallLB{
    width:1200px;
    height:430px;
    margin:0 auto;
    margin-top:10px;
}
section.smallLB .sec_left{
    width:630px;
    height:430px;
    float:left;
}
section.smallLB .sec_left .stage{
    width:630px;
    height:430px;
    overflow:hidden;
    position: relative;
}
section.smallLB .sec_left .stage ul{
    width:600%;
    position: absolute;
    left:0;
    top:100px;
}
section.smallLB .sec_left .stage ul li{
    float:left;
    width:630px;
}
section.smallLB .sec_left .stage ul li img{
    width:630px;
    height:360px;
}
section.smallLB .sec_left .stage .bar{
    height:70px;
    width:630px;
}
section.smallLB .sec_left .stage .bar b{
    border-top:1px solid #ee4f38;
    width:125px;
    height:70px;
    float:left;
    text-align:center;
    font-size:13px;
    line-height:20px;
    padding-top:20px;
    color:#ee4f38;
    margin-left:1px;
}
section.smallLB .sec_left .stage .bar b:nth-child(2){
    border-top-color:#8c75db;
    color:#8c75db;
}
section.smallLB .sec_left .stage .bar b:nth-child(3){
    border-top-color:#ffab4a;
    color:#ffab4a;
}
section.smallLB .sec_left .stage .bar b:nth-child(4){
    border-top-color:#3a95eb;
    color:#3a95eb;
}
section.smallLB .sec_left .stage .bar b:nth-child(5){
    border-top-color:#ffab4a;
    color:#ffab4a;
}
section.smallLB .sec_center{
    float:left;
    height:430px;
    width:300px;
}
section.smallLB .sec_center a img{
    margin:0 10px;
}
section.smallLB .sec_center a:last-child img{
    margin-top:6px;
}
section.smallLB .sec_right{
    width:250px;
    height:430px;
    float:left;
    margin-left:20px;
    border:1px solid #ccc;
    box-sizing:border-box;
}
section.smallLB .sec_right p:nth-child(1){
    width:248px;
    height:35px;
    background-color: #ff6666;
    color:#fff;
    line-height:35px;
    text-align:center;
    font-size:17px;
}
section.smallLB .sec_right p:nth-child(2){
    margin-top:10px;
}
section.smallLB .sec_right p.lianxi{
    width:248px;
    heigth:40px;
    color:#c81623;
    font-size:24px;
    line-height:45px;
    padding-left:60px;
    position: relative;
}
section.smallLB .sec_right .lianxi::before{
    content:'';
    position:absolute;
    left:10px;
    width:39px;
    height:35px;
    background: url(../images/index_tel_ico.jpg) no-repeat;
}
section.smallLB .sec_right p.lianxi:nth-child(3)::before{
    background-position:0px -48px;
}
section.smallLB .sec_right p.lianxi:nth-child(4)::before{
    background-position:0px -100px;
}
section.smallLB .sec_right p.lianxi a{
    color:#c81623;
}
section.smallLB .sec_right p:nth-child(4){
    font-size:20px;
}
section.smallLB .sec_right img{
    margin-top:15px;
    margin-left:30px;
}
section.smallLB .sec_right p:last-child{
    text-align:center;
}
/*热卖推荐*/
section.rmtj{
    width:1200px;
    margin:0 auto;
    margin-top:50px;
    position: relative;
}
section.rmtj .title{
    height:38px;
    border-bottom:1px solid #c81623;
}
section.rmtj .title p{
    line-height:38px;
}
section.rmtj .title p:nth-child(1){
    float:left;
    font-size:20px;
    color:#333;
    margin-left:50px;
    position: relative;
}
section.rmtj .title p:nth-child(1)::before{
    content:'';
    position: absolute;
    top:5px;
    left:-50px;
    background: url(../images/fico.jpg) no-repeat 0 -66px;
    width:36px;
    height:31px;
}
section.rmtj .title p:nth-child(2){
    float:right;
    border:1px solid #ededed;
    border-bottom:none;
    width:224px;
    height:35px;
}
section.rmtj .title p:nth-child(2) span{
    display:inline-block;
    color:#ededed;
    height:35px;
    font-size:15px;
    border-right:1px solid #ededed;
    float:left;
}
section.rmtj .title p:nth-child(2) span:nth-child(1){
    width:80px;
}
section.rmtj .title p:nth-child(2) span:nth-child(2){
    width:80px;
}
section.rmtj .title p:nth-child(2) span:nth-child(3){
    width:60px;
    border-right:none;
}
section.rmtj .title p:nth-child(2) span a{
    color:#666;
    margin-left:10px;
}
section.rmtj .title p:nth-child(2) a:hover{
    color:#c81623;
}
section.rmtj .shangpin{
    width:1200px;
}
section.rmtj .shangpin ul li{
    float: left;
    width:300px;
    height:360px;
    border:1px solid #ededed;
    border-top:none;
    border-left:none;
    box-sizing:border-box;
}
section.rmtj .shangpin ul li:nth-child(1){
    width:600px;
    border-left:1px solid #ededed;
    height:360px;
}
section.rmtj .shangpin ul li:nth-child(4){
    border-left:1px solid #ededed;
}
section.rmtj .shangpin ul li:nth-child(7) img{
    margin-left:5px;
    margin-top:5px;
}
section.rmtj .shangpin ul li img{
    width:290px;
}
section.rmtj .shangpin ul li:hover{
    border:3px solid #f4d0d0;
}
/*攻略、评价、礼仪*/
section.another{
    width:1200px;
    margin:0 auto;
    overflow:hidden;
    padding-top:20px;
}
section.another .gonglue{
    width:300px;
    height:290px;
    float:left;
}
section.another .huayu{
    height:32px;
    background-color: #737373;
}
section.another .huayu h4{
    line-height:32px;
    height:32px;
    margin-left:15px;
    float:left;
    color:#fff;
}
section.another .huayu p{
    float: right;
    width:16px;
    height:16px;
    border-radius:50%;
    background-color: #fff;
    color:#737373;
    line-height:16px;
    text-align:center;
    margin-top:10px;
    margin-right:10px;
    font-weight:bold;
    font-size:18px;
}
section.another  ul{
    background-color: #f2f2f2;
    padding:20px 0;
}
section.another  ul li{
    height:31px;
    margin-left:40px;
    list-style: circle;
}
section.another  ul li a{
    font-size:12px;
    color:#666;
}
section.another ul li a:hover{
    color:#c00;
    text-decoration: underline;
}
section.another .pingjia{
    width:570px;
    height:290px;
    float:left;
    margin-left:15px;
}
section.another .pingjia ul{
    background-color: #f2f2f2;
    padding-top:5px;
}
section.another .pingjia ul li{
    height:86px;
    list-style: none;
    border-bottom:1px solid #ededed;
}
section.another .pingjia ul li .leftImg{
    width:80px;
    float:left;
}
section.another .pingjia ul li .leftImg img{
    width:46px;
    height:46px;
    border-radius: 10px;
    margin:8px 0;
}
section.another .pingjia ul li .leftImg p{
    width:100px;
    margin:-10px 0 0 -25px;
    text-align:center;
}
section.another .pingjia ul li p a{
    color:#737373;
    font-size:12px;
}
section.another .pingjia ul li p a:hover{
    color:#c00;
    text-decoration: underline;
}
section.another .pingjia ul li .centerImg{
    width:180px;
    margin:15px;
    float:left;
}
section.another .pingjia ul li .rightTime p.time{
    color:#737373;
    font-size:12px;
    padding-top:20px;
}
section.another .liyi{
    width:300px;
    height:290px;
    float:right;
    margin-left:15px;
}

/*页脚*/
footer{
    width:100%;
    overflow: hidden;
}
footer .inner_c{
    width:1200px;
    margin:0 auto;
}
footer .footer_top{
    height:76px;
    border-bottom:1px solid #e0e0e0;
}
footer .footer_top ul li{
    float:left;
    color:#616161;
    width:240px;
    line-height:76px;
    position: relative;
    left:40px;
}
footer .footer_top ul li img{
    width:21px;
    height:21px;
    position: absolute;
    top:28px;
    left:-30px;
}
footer .footer_center{
    height:175px;
    margin-top:40px;
}
footer .footer_center dl{
    width:160px;
    height:170px;
    float:left;
}
footer .footer_center dl dt{
    height:40px;
    color:#424242;
    font-size:14px;
}
footer .footer_center dl dd{
    height:25px;
    color:#757575;
    font-size:12px;
}
footer .footer_center dl dd a{
    color:#757575;
}
footer .footer_center dl dd a:hover{
    color:#c00;
    text-decoration: underline;
}
footer .footer_center dl:nth-child(6){
    border-right:1px solid #e0e0e0;
}
footer .footer_center .number{
    height:96px;
    text-align:center;
    padding-top:20px;
}
footer .footer_center .number p.num1{
    margin-top:20px;
    font-size:22px;
    color:#ff6700;
}
footer .footer_center .number p.num2{
    font-size:12px;
    color:#616161;
}
footer .footer_center .number p.num3{
    margin-top:20px;
}
footer .footer_center .number p.num3 a{
    width:120px;
    height:30px;
    font-size:12px;
    border:1px solid #ff6700;
    color:#ff6700;
    display:inline-block;
    line-height:30px;
}
footer .footer_center .number p.num3 a:hover{
    background-color: #ff6700;
    color:#fff;
}
footer .footer_bottom{
    width:100%;
    background-color: #fafafa;
    height:128px;
}
footer .footer_bottom .center{
    width:1200px;
    height:128px;
    margin:0 auto;
    position: relative;
}
footer .footer_bottom .center img{
    margin-top:40px;
    float:left;
}
footer .footer_bottom .center p.desc{
    position: absolute;
    left:30px;
    top:30px;
    width:1100px;
    margin-left:10px;
    font-size:12px;
}
footer .footer_bottom .center p.desc:nth-child(3){
    top:50px;
    color:#b0b0b0;
}
footer .footer_bottom .center p.desc a{
    color:#757575;
}
footer .footer_bottom .center ul{
    float:right;
    margin-top:20px;
}
footer .footer_bottom .center ul li{
    float: left;
}
footer .footer_bottom .center img{
    height:25px;
    width:auto;
}